@import "tailwindcss";

@theme {
  --color-background: #080808;
  /* #0e0e0e; */
  --color-primary: #F4EA2C;
  --color-secondary: #0A64F2;
}

h2 {
  @apply font-bold text-primary text-center text-5xl;
}

.radial-mask {
  mask: radial-gradient(#000, #0000 60%)
}

.custom-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 16px;
  max-width: 1200px;
  margin-inline: auto;
}
